/* line 17, ../scss/recruit-caddy.scss */
.caddy-table .col-1 {
  width: 200px;
}
/* line 20, ../scss/recruit-caddy.scss */
.caddy-table table.v-table tbody td:first-child,
.caddy-table table.v-table tbody td:not(:first-child),
.caddy-table table.v-table tbody th:first-child,
.caddy-table table.v-table tbody th:not(:first-child),
.caddy-table table.v-table thead td:first-child,
.caddy-table table.v-table thead td:not(:first-child),
.caddy-table table.v-table thead th:first-child,
.caddy-table table.v-table thead th:not(:first-child) {
  padding: 0;
}
/* line 30, ../scss/recruit-caddy.scss */
.caddy-table .v-label {
  color: black;
  font-size: 14px;
}
/* line 34, ../scss/recruit-caddy.scss */
.caddy-table .v-input--selection-controls__input {
  height: 0px;
  margin-right: 0;
}
/* line 38, ../scss/recruit-caddy.scss */
.caddy-table tr.row-class-10 > td {
  box-shadow: inset 0px 11px 0px 0px #66ff66, inset 0px -11px 0px 0px #66ff66;
  padding: 11px 0 11px 0 !important;
}
/* line 44, ../scss/recruit-caddy.scss */
.caddy-table tr.row-class-20 > td {
  box-shadow: inset 0px 11px 0px 0px #e8e24a, inset 0px -11px 0px 0px #e8e24a;
  padding: 11px 0 11px 0 !important;
}
/* line 50, ../scss/recruit-caddy.scss */
.caddy-table tr.row-class-30 > td {
  box-shadow: inset 0px 11px 0px 0px #ff4d4d, inset 0px -11px 0px 0px #ff4d4d;
  padding: 11px 0 11px 0 !important;
}
/* line 56, ../scss/recruit-caddy.scss */
.caddy-table .v-table tbody tr:not(:last-child) {
  border-bottom: 1px solid black;
}

/* line 62, ../scss/recruit-caddy.scss */
.clear-forms input[type=checkbox]:focus, .clear-forms input[type=color]:focus, .clear-forms input[type=date]:focus, .clear-forms input[type=datetime-local]:focus, .clear-forms input[type=datetime]:focus, .clear-forms input[type=email]:focus, .clear-forms input[type=month]:focus, .clear-forms input[type=number]:focus, .clear-forms input[type=password]:focus, .clear-forms input[type=radio]:focus, .clear-forms input[type=search]:focus, .clear-forms input[type=tel]:focus, .clear-forms input[type=text]:focus, .clear-forms input[type=time]:focus, .clear-forms input[type=url]:focus, .clear-forms input[type=week]:focus, .clear-forms select:focus, .clear-forms textarea:focus {
  border-color: transparent;
  box-shadow: none;
  outline: 0;
}

/* line 68, ../scss/recruit-caddy.scss */
.float-right {
  float: right;
}

/* line 71, ../scss/recruit-caddy.scss */
.float-left {
  float: left;
}

/* line 75, ../scss/recruit-caddy.scss */
.link:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
