// .caddy-table{  
//     table.v-table tbody td:first-child, 
//     table.v-table tbody td:not(:first-child), 
//     table.v-table tbody th:first-child, 
//     table.v-table tbody th:not(:first-child), 
//     table.v-table thead td:first-child, 
//     table.v-table thead td:not(:first-child), 
//     table.v-table thead th:first-child, 
//     table.v-table thead th:not(:first-child) {
//         &.col-index{ 
//             padding:0!important;
//             text-align: center;
//         }
//     }
// }
.caddy-table{
    .col-1{
        width: 200px;
    }
    table.v-table tbody td:first-child, 
    table.v-table tbody td:not(:first-child), 
    table.v-table tbody th:first-child, 
    table.v-table tbody th:not(:first-child), 
    table.v-table thead td:first-child, 
    table.v-table thead td:not(:first-child), 
    table.v-table thead th:first-child, 
    table.v-table thead th:not(:first-child) {
        padding: 0;
    }
    .v-label {
        color: black;
        font-size: 14px;
    }
    .v-input--selection-controls__input { 
        height: 0px; 
        margin-right: 0;
    } 
    tr.row-class-10 > td{ 
        box-shadow:
        inset 0px 11px 0px 0px #66ff66,
        inset 0px -11px 0px 0px #66ff66; 
        padding: 11px 0 11px 0!important; 
    }
    tr.row-class-20 > td{  
        box-shadow:
        inset 0px 11px 0px 0px #e8e24a,
        inset 0px -11px 0px 0px #e8e24a; 
        padding: 11px 0 11px 0!important;
    }
    tr.row-class-30 > td{   
        box-shadow:
        inset 0px 11px 0px 0px #ff4d4d,
        inset 0px -11px 0px 0px #ff4d4d; 
        padding: 11px 0 11px 0!important;
    }
    .v-table tbody tr:not(:last-child) {
        border-bottom: 1px solid black;
    }
    
}
.clear-forms{
    input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus {
        border-color: transparent;
        box-shadow: none;
        outline: 0;
    }
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.link{
    &:hover{
        text-decoration: underline;
        color: blue;
        cursor: pointer;
    }
}